<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LockboxKMS - Encrypt Your Data</title>
    <!-- Custom CSS -->
    <link href="/static/styles.css" rel="stylesheet">
    <!-- HTMX via CDN -->
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>LockboxKMS</h1>
        <div class="info-fields-horizontal">
            <div class="info-field">
                <label>Project:</label>
                <div class="info-input">{{.ProjectID}}</div>
            </div>
            <div class="info-field">
                <label>Location:</label>
                <div class="info-input">{{.Location}}</div>
            </div>
            <div class="info-field">
                <label>Key Ring:</label>
                <div class="info-input">{{.KeyRing}}</div>
            </div>
        </div>
        <form id="encrypt-form" hx-post="/encrypt" hx-target="#encrypted-text" hx-swap="innerHTML">
            <div>
                <label for="key">Key:</label>
                <select id="key" name="key" hx-get="/keys" hx-trigger="load" hx-target="#keydd" hx-swap="outerHTML">
                    <option id="keydd" value="" disabled selected>Loading Keys</option>
                </select>
            </div>
            <div>
                <label for="text">Text to Encrypt:</label>
                <textarea id="text" name="text" rows="4" placeholder="Enter text to encrypt here..." required maxlength="65536"></textarea>
            </div>
            <button type="submit">Encrypt</button>
        </form>
        <label for="text">Encrypted Text:</label>
        <div id="result" class="result">
            <div id="encrypted-text" class="encrypted-text"></div>
        </div>
        <button id="copy-button" class="copy-button" onclick="copyText()">Copy</button>
    </div>

    <script>
        function copyText() {
            const encryptedTextElement = document.getElementById('encrypted-text');
            if (encryptedTextElement && encryptedTextElement.innerText.trim() !== '') {
                const encryptedText = encryptedTextElement.innerText;
                navigator.clipboard.writeText(encryptedText);
            }
        }
    </script>
</body>
</html>